<div class="access">

  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.input :name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.input :email, tpe: :email, autofocus: 'off' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.input :current_password, type: :password, autocomplete: "off", label: 'Current password' %>
      </div>

      <div class="field">
        <%= f.label :email_notification do %>
            <%= f.check_box :email_notification %>
            I am happy to receive email notifications
        <% end %>

      </div>

      <div id='show-password-action' class="actions">
        <%= link_to "Change password", '#', onclick: "$('#password-fields').show(); $('#show-password-action').hide(); return false" %>
      </div>

      <div id="password-fields" style="display: none">

        <div class="field">
          <%= f.input :password, type: :password, autocomplete: "off", label: 'New password' %>
        </div>

        <div class="field">
          <%= f.input :password_confirmation, autocomplete: "off", type: :password, label: "Password confirmation" %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: 'btn' %>
      </div>
  <% end %>

  <%= link_to "Back", :back %>
</div>
